
* { box-sizing: border-box; }

html, body {
	background-color: black;
	color: white;
	font-family: 'Arial';
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

body {
	line-height: 1.7;
	padding: 30px;
}

canvas {
	display: block;
}

#game {
	position: absolute;
}

#chat {
	border: 2px solid #808080;
	bottom: 0;
	height: 380px;
	position: absolute;
	right: 0;
	width: 450px;
}

#chat input {
	bottom: 0;
	color: black;
	font-size: 18px;
	padding: 10px;
	position: absolute;
	width: 100%;
}

#chat #chatHistory {
	height: 100%;
	padding-bottom: 45px;
}

#chat #chatHistory #chatMessages {
	font-size: 15px;
	height: 100%;
	list-style: none;
	margin: 0;
	overflow-y: scroll;
	padding: 15px;
}

#countdown {
	display: none;
	font-size: 288px;
	left: 320px;
	position: absolute;
	text-shadow: 0 0 0.5em #87F, 0 0 0.5em #87F, 0 0 0.5em #87F;
	top: 220px;
}

#iconOptions {
	position: absolute;
	right: 0;
	top: 0;
}

.left { float: left; }
.right { float: right; }

.icon {
	cursor: pointer;
	font-size: 36px;
}

.popover {
	align-items: center;
	background: black;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.popover .container {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 30px;
	width: 400px;
}

.popover .container input[type="button"],
.popover .container input[type="checkbox"],
.popover .container input[type="range"],
.popover .container input[type="text"] {
	border: 1px solid grey;
	border-radius: 5px;
	color: black;
	font-size: 18px;
	padding: 10px;
}

.popover .container input[type="button"],
.popover .container input[type="range"],
.popover .container input[type="text"] {
	margin: 15px 0 15px 0;
	width: 100%;
}

.popover .container input[type="checkbox"] {
	margin: 15px 15px 15px 0;
}

.popover .container #errorMessage{
	color: red;
	font-size: 18px;
	font-weight: bold;
}